#inicio {
    background-color: #f5d9d9;
  }
  
  #tema-seleccionado {
    background-color: #f1edb1;
  }
  
  #mockup {
    background-color: #c2ee9d;
  }
  
  #acerca-de {
    background-color: #cccccc;
  }
  
  /* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Estilos para el encabezado de la página */
  header {
    background-color: #010301;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  /* Estilos para el logotipo del sitio */
  .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  /* Estilos para el menú de navegación */
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav li a {
    color: #000000;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #020202;
    color: #fff;
  }
  
  /* Estilos para la sección "Inicio" */
  #inicio {
    /* background-image: url("ruta/imagen.jpg"); */
    background-size: cover;
    background-position: center center;
    height: 60vh;
  }
  
  #inicio .contenido {
    text-align: center;
    color: #030303;
    padding-top: 50px;
  }
  
  #inicio h1 {
    font-size: 38px;
    margin: 0;
  }
  
  #inicio p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  /* Estilos para la sección "Tema seleccionado" */
  #tema {
    
    padding: 50px;
  }
  
  #tema h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #tema p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Estilos para la sección "Mockup" */
  #mockup {
    margin-left: 0;
    padding: 50px;
  }
  
  #mockup h2 {
    font-size: 36px;
    margin-bottom: 0px;
  
  }
  
  #mockup p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Estilos para la sección "Acerca de" */
  #acerca {
    
    padding: 50px;
  }
  
  #acerca h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #acerca p {
    font-size: 18px;
    line-height: 1.5;
  }
  .footer {
    font-style: italic;
 }
  