 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

  #inicio {
    background-color: #f5d9d9;
  }
  
  #tema-seleccionado {
    background-color: #f1edb1;
  }
  
  #mockup {
    background-color: #c2ee9d;
  }
  
  #acerca-de {
    background-color: #cccccc;
  }

  aside {
    margin-bottom: 0; 
  }
  
    
  body {
    background: #ddd;
  }
  
  [data-component='sidebar'] {
    .sidebar {
      position: fixed;
      z-index: 9999;
      font-family: 'Open Sans', sans-serif;
    }
    .first-menu {
      position: fixed;
      background-color: #fff;
      height: 100vw;
      width: 83px;
      top: 60px;
      overflow: hidden;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      .list-group-item {
        border-right: 0;
        &:not(last-child) {
          border-bottom: 0;
        }
        &:hover {
          background-color: #f6f6f6;
        }
      }
      a {
        white-space: nowrap;
        color: #8e8e8e;
        font-weight: 400;
        font-size: em(14);
        span {
          opacity: 0;
          visibility: hidden;
            }
         }
      &:hover span {
        opacity: 1;
        visibility: visible;
      }
    }
    .first-menu:hover {
      width: 300px;
    }
    
    .submenu {
      position: fixed;
      left: 300px;
      width: 300px;
      top: 0px;
      background-color: #0075BA;
      height: 100vw;
      opacity: 0;
      max-width: 0;
      overflow: auto;
      animation-name: slideOut;
      -webkit-transition-duration: opacity 0.3s;
      -moz-transition-duration: opacity 0.3s;
      -o-transition-duration: opacity 0.3s;
      transition-duration: opacity 0.3s;
        .list-group-item {
          background-color: #0075BA;
          border-left: 0;
           &:hover {
                    background-color: #004798;
                }
      }
      a {
        color: #0075BA;
        font-size: 14px;
        line-height: 1.3;
      }
      span {
        font-weight: 400;
      font-size: 11px;
      color: #e0e0de;
      display: block; 
      }
      
    }
    .svg-submenu {
      background-color: #009eff;
      .list-group-item {
        background-color: #009eff;
        padding-top: 17px;
        padding-bottom: 17px;
        &:hover {
          background-color: #0075BA;
        }
      }
      a {
        line-height: normal;
      }
    }
    .first-menu li:hover .submenu {
      max-width: 100%;
      opacity: 1;
    }
  }





  /* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Estilos para el encabezado de la página */
  header {
    background-color: #343634;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(48, 47, 47, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 999;
  }
  
/* Estilos para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #122436; /* Color de fondo */
  padding: 7px; /* Espaciado interno */
}

.navbar-brand {
  font-size: 24px; /* Tamaño de fuente del logotipo */
  font-weight: bold; /* Grosor de la fuente */
  color: #1d1c1c; /* Color del texto */
  text-transform: uppercase; /* Transformación de texto en mayúsculas */
}

.navbar-nav {
  margin-left: auto; /* Alinea los elementos a la derecha */
}

.nav-item {
  margin-left: 10px; /* Espaciado horizontal entre elementos */
}

.nav-link {
  color: #000000; /* Color del texto del enlace */
  text-decoration: none; /* Sin subrayado */
  padding: 6px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
  transition: background-color 0.3s ease; /* Transición de color de fondo en el hover */
}

.nav-link:hover {
  background-color: #6d0202; /* Color de fondo en el hover */
  color: #fff; /* Color del texto en el hover */
}

  
  /* Estilos del contenedor principal con CSS Grid */
  .contenedor-grid {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 20px; /* Espacio entre las columnas */
  }

  /* Estilos para el logotipo del sitio */
  .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  /* Estilos para el menú de navegación */
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav li a {
    color: #0e0d0d;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #020202;
    color: #fff;
  }
  
  /* Estilos para la sección "Inicio" */
  #inicio {
    /* background-image: url("ruta/imagen.jpg"); */
    margin-top: 80px;
    background-size: cover;
    background-position: center center;
    height: 60vh;
  }
  
  #inicio .contenido {
    text-align: center;
    color: #030303;
    padding-top: 50px;
  }
  
  #inicio h1 {
    font-size: 38px;
    margin: 0;
  }
  
  #inicio p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  /* Estilos para la sección "Tema seleccionado" */
  #tema {
    
    padding: 50px;
  }
  
  #tema h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #tema p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Estilos para la sección "Mockup" */
  #mockup {
    margin-left: 0;
    padding: 50px;
  }
  
  #mockup h2 {
    font-size: 36px;
    margin-bottom: 0px;
  
  }
  
  #mockup p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Estilos para la sección "Acerca de" */
  #acerca {
    
    padding: 50px;
  }
  
  #acerca h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #acerca p {
    font-size: 18px;
    line-height: 1.5;
  }
 

.contenido-principal {
  margin-left: 200px; 
}

  
  footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    text-align: center; /* Centrar el texto */
  }